{
    "parser": "typescript-eslint-parser",
    "plugins": [
        "typescript"
    ],
    "env": {
        "browser": false
    },
    "extends": "eslint:recommended",
    "rules": {},
    "parserOptions": {
        "sourceType": "module"
    },
    "globals": {}
}
