@import 'zen-css/import';

:host {
    &, * {
        @extend %reset;
    }

    position: absolute;
    top: 0;
    left: 0;
    width: var(--side-menu-width, 20rem);
    background-color: rgba(white, 0.7);
    border-right: 1px solid var(--color-grey-100);
    bottom: 0;

    ul {
        @extend %cover;

        li {
            list-style: none;
            font-size: var(--font-size-small);
            color: var(--color-grey-300);
            height: var(--sidebar-width);
            line-height: var(--sidebar-width);
            padding-left: var(--size-small);
            border-bottom: 1px solid var(--color-grey-100);

            a {
                width: 100%;
                * {
                    vertical-align: middle;
                    display: inline-block;
                }

                &.active {
                    --icon-color: var(--color-main);
                    color: var(--color-main);
                }
            }
        }
    }
}
